

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: rgb(221, 229, 250);
    position: relative;
    padding-bottom: 18em;
    font-family: 'Amaranth', sans-serif;
    

}

#mision{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background-image: url("../imag/actividades-sm.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    
    

    & div{
        color: black;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 10px;
        font-weight: 900;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 50%;
        animation-name: apareceIzq;
        animation-duration: 1s;
        animation-delay: .3s;
        animation-fill-mode: forwards;
       
        }
    & div p{
        font-size: 14px;
        animation-name: apareceDer;
        animation-duration: 1s;
        animation-delay: .6s;
        animation-fill-mode: forwards;
        
    }
    & h1 {
        animation-name: apareceDer;
        animation-duration: 1s;
        animation-delay: .6s;
        animation-fill-mode: forwards;
       
    }
}

#valores{
    margin: 15px;
    color: #2D63EB;
    font-weight: 900;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}

.carrusel_text{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    user-select: none;
    animation-name: apareceDer;
        animation-duration: 1s;
        animation-delay: .6s;
        animation-fill-mode: forwards;
}

.elemento{
    flex: 1 0 auto;
    margin-right: 5px;
    width: 90%;
    height: 170px;
    font-size: 18px;
    color: white;
    background-color: #2D63EB;
    text-align: center;
    padding: 2px;
   
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #706BFF;
    color: white;
    font-weight: 550;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    
    & p {
        margin-top: 10px;
    }
}

.contactos{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    margin-bottom: 25px;
    & img{
        height: 25px;
        background-color: white;
        transition: all 300ms;
        }
    & img:hover{
        transform: scale(1.15);
    }    

    & img:active{
        background-color: #2D63EB;
    }    
}

.ejes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    & img{
        height: 150px;
        opacity: 0;
        animation-name: rotacion;
        animation-duration: 1s;
        animation-delay: .6s;
        animation-fill-mode: forwards;
    }
}

.p_proyecto{
    text-align: center;
    font-size: 16px;
    padding: 15px;
    font-family: 'Amaranth', sans-serif;
}

h2{font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    color: #2D63EB;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.siluetas{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)) , url("../imag/definicion-organizacion-sin-fines-de-lucro.jpg");
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;

    & h1{
        padding-top: 15px;
        margin-bottom: 5px;
        color: #e6eaf7;
        font-weight: 900;
        text-align: center;
    }
    & p{
        text-align: center;
        font-size: 16px;
        padding: 15px;
        color: #e6eaf7; 
        font-weight: 500;
        mix-blend-mode: screen;
    
    }
    
}

.carousel{
    min-height: 400px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 400px;
    height: 400px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 15px;
    }

}

.subtitulos{
    margin: 0;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    color: white;
    mix-blend-mode: color-dodge;
    font-family: 'Luckiest Guy', cursive;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content:space-between;
   

}

.portada-actividades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    animation-name: portada-manos;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;


    & img{
        
        position: absolute;
        height: 250px;
        width: 100%;
        z-index: -1;
       
       

    }
    & h1{
        color: #e6eaf7;
        background-color: #706BFF;  
        border-radius: 2px;
    }
}

#botones{
    margin:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
& button{
    height: 50px;
    margin: 10px;
    width: 300px;
    background: #2D63EB;
    cursor: pointer;
    padding: auto;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    font-weight: regular;
    position: relative;
    border-radius: 12px;
    
    
}
& button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink,blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation : glowing 20s linear infinite;
    }
}

.contenedor-titulo-colaborar{
    opacity: 0;
    animation-name: apareceDer;
        animation-duration: .6s;
        animation-delay: .3s;
        animation-fill-mode: forwards;
    & p{
        padding: 5px;
        text-align: center;
    }

}


.contenedor-colaborar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center; 
     
}
.contenedor-imagenes{
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,98,240,1) 35%, rgba(0,212,255,1) 100%);
    color: #e6eaf7;
    padding: 5px;
    margin: 10px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #2D63EB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center; 
    text-align: center;
    width: 400px;
    height: 400px; 
    & img{
        border-radius: 5px;
    height: 80%;
    width: 100%;
    object-fit: cover;
}
}

.articulos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    & h1 {
        text-align: center;
    }
    & a:link { text-decoration:none; } 
    & a:visited { text-decoration:none; }
}    


#button-up{
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #2D63EB;
    border-radius: 50%;
    font-size: 10px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: #2D63EB;
}




@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}













@keyframes portada-manos{
    0%{
        transform: translateX(2000px);
        -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
        clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    }
    30%{
        transform: translateX(-18px);
        -webkit-clip-path: polygon(6% 0, 76% 0, 84% 100%, 8% 100%);
clip-path: polygon(6% 0, 76% 0, 84% 100%, 8% 100%);
    }
    45%{
        transform: translateX(3px);
        -webkit-clip-path: polygon(0 0, 78% 0, 100% 100%, 8% 100%);
clip-path: polygon(0 0, 78% 0, 100% 100%, 8% 100%);

    }
    65%{transform: translateX(30px);
     
    }
    75%{
        transform: translateX(15px);
        -webkit-clip-path: polygon(9% 0, 93% 0, 87% 100%, 4% 100%);
clip-path: polygon(9% 0, 93% 0, 87% 100%, 4% 100%);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
        clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    }
}
















@keyframes aparicion{
    0%{
        opacity: 0;
        transform: scale(2) translateY(75px);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

@keyframes rotacion{
    0%{
        transform: translateX(1000px) rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
  
}

@keyframes apareceIzq {
    0%{
        transform: translateX(-1000px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes apareceDer {
    0%{
        transform: translateX(1000px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}






















